body {
    padding: 50 !important;
    color: #bababa !important;
    background-color: #222 !important;
}

/* markdown pre code 영역 */
pre {
    color: rgb(225, 62, 62) !important;
}

#main_view {
    padding: 10px;
}