/* One Half Dark */
.color-brightBlack { color: #5A6374 }
.color-brightBlue { color: #61AFEF }
.color-brightCyan { color: #56B6C2 }
.color-brightGreen { color: #98C379 }
.color-brightPurple { color: #C678DD }
.color-brightRed { color: #E06C75 }
.color-brightWhite { color: #DCDFE4 }
.color-brightYellow { color: #E5C07B }
.color-black { color: #282C34 }
.color-blue { color: #61AFEF }
.color-cyan { color: #56B6C2 }
.color-green { color: #98C379 }
.color-purple { color: #C678DD }
.color-red { color: #E06C75 }
.color-white { color: #DCDFE4 }
.color-yellow { color: #E5C07B }
.color-background { color: #282C34 }
.color-foreground { color: #DCDFE4 }


body {
    padding: 50 !important;
    color: #bababa !important;
    background-color: #222 !important;
}

/* markdown pre code 영역 */
pre {
    color: rgb(225, 62, 62) !important;
}

#main_view {
    padding: 10px;
}

.inline-icon {
    vertical-align: top;
}

.list-group-item {
    background:#282C34
}
