<h1>Programs I am using</h1>
<div class="my-title">windows programs(2017-01 updated, click to google)</div>
<pre id="windows_programs"></pre>
<div class="my-title">
  linux programs(<a
    href="https://github.com/ysoftman/myenv/blob/main/installcommon.sh"
    target="_blank"
    rel="noopener noreferrer"
    >https://github.com/ysoftman/myenv/blob/main/installcommon.sh</a
  >)
</div>
<div id="linux_programs"></div>
<div class="my-title">
  brew programs(<a
    href="https://github.com/ysoftman/myenv/blob/main/installbrew.sh"
    target="_blank"
    rel="noopener noreferrer"
    >https://github.com/ysoftman/myenv/blob/main/installbrew.sh</a
  >)
</div>
<div id="brew_programs"></div>
<div class="my-title">
  cargo programs(<a
    href="https://github.com/ysoftman/myenv/blob/main/installcargo.sh"
    target="_blank"
    rel="noopener noreferrer"
    >https://github.com/ysoftman/myenv/blob/main/installcargo.sh</a
  >)
</div>
<div id="cargo_programs"></div>
<div class="my-title">
  golang programs(<a
    href="https://github.com/ysoftman/myenv/blob/main/installgolangtools.sh"
    target="_blank"
    rel="noopener noreferrer"
    >https://github.com/ysoftman/myenv/blob/main/installgolangtools.sh</a
  >)
</div>
<div id="golang_programs"></div>
<div class="my-title">
  pip programs(<a
    href="https://github.com/ysoftman/myenv/blob/main/installpip.sh"
    target="_blank"
    rel="noopener noreferrer"
    >https://github.com/ysoftman/myenv/blob/main/installpip.sh</a
  >)
</div>
<div id="pip_programs"></div>
<div class="my-title">
  neovim plugins(<a
    href="https://github.com/ysoftman/myenv/tree/main/nvim/lua/plugins"
    target="_blank"
    rel="noopener noreferrer"
    >https://github.com/ysoftman/myenv/tree/main/nvim/lua/plugins</a
  >)
</div>
<div id="nvim_plugins_api_limit"></div>
<div id="nvim_plugins"></div>
<div class="my-title">
  vim plugins(<a
    href="https://github.com/ysoftman/myenv/blob/main/.vimrc"
    target="_blank"
    rel="noopener noreferrer"
    >https://github.com/ysoftman/myenv/blob/main/.vimrc</a
  >)
</div>
<div id="vim_plugins"></div>
<div class="my-title">
  vscode extensions(<a
    href="https://github.com/ysoftman/myenv/blob/main/installvscodeextension.sh"
    target="_blank"
    rel="noopener noreferrer"
    >https://github.com/ysoftman/myenv/blob/main/installvscodeextension.sh</a
  >)
</div>
<div id="vscode_extensions"></div>
