/** biome-ignore-all lint/suspicious/noDuplicateCustomProperties: by ysoftman */
/** biome-ignore-all lint/complexity/noImportantStyles: by ysoftman */

@import "./tailwind.css";
@import "remixicon/fonts/remixicon.css";

:root {
  /* https://getbootstrap.com/docs/5.0/customize/color/#all-colors */
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --gray: #adb5bd;
  --black: #000000;
  --white: #ffffff;

  /* override */
  /* One Half Dark https://raw.githubusercontent.com/joshdick/onedark.vim/main/img/color_reference.png */
  --black: #282c34;
  --red: #e06c75;
  --green: #98c379;
  --yellow: #e5c07b;
  --blue: #61afef;
  --purple: #c678dd;
  --cyan: #56b6c2;
  --white: #abb2bf;

  /* custom */
  --bright-gray: #333333;
  --black: #000000;
}

body {
  padding: 0 !important;
  color: var(--white) !important;
  background-color: var(--black) !important;
  word-wrap: break-word;
  font-family: Hack, monospace;
}

iframe {
  max-width: 100%;
  width: 100%;
}

object {
  max-width: 100%;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

#navigation {
  list-style-type: none;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  flex-wrap: wrap;
  z-index: 10;
}

#main_view {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  /* absolute 로 지정하면 상속되는 neon_cursor의 width, height 가 작게 고정돼서 사용안함 */
  /* position: absolute; */
  z-index: 1;
}

#main_view canvas {
  position: fixed; /* stick to viewport regardless of page flow */
  /* top:0; right:0; bottom:0; left:0 */
  inset: 0;
  /* top:0px; bottom:0px; right:10px; left:10px */
  /* inset: 0px 10px; */
  display: block; /* remove potential inline gaps */
  z-index: -1;
  overflow: hidden;
  touch-action: pan-up;
  color: #ffffff;
  margin: 0;
  width: 100%;
  height: 100%;
}

.inline-icon {
  vertical-align: top;
}

.my-title {
  font-size: 1.5em;
  margin-top: 1em;
}

#windows_programs {
  padding: 10px;
}
pre {
  font-size: medium;
  white-space: pre-wrap;
  padding: 0px;
  margin: 0px;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-width: 1px;
  border-style: solid;
  border-color: green;
}
code {
  padding: 10px !important;
  margin: 0px !important;
  border-radius: 5px !important;
}

/*neon effect*/
[class*="ri-"] {
  font-size: 2rem;
  color: #ffffff;
  text-shadow:
    0 0 5px #0072ff,
    0 0 10px #0072ff,
    0 0 20px #0072ff,
    0 0 30px #0072ff;
  animation: animate 10s linear infinite;
}
@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

/*add external icon*/
.nav-menu-item a[href^="http"]::after,
.nav-menu-item a[href^="https://"]::after {
  content: "";
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='orange' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: right 0px top 0px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
